QLineEdit {
    background-color: white;
    border: 1px solid rgba(186, 186, 186, 250);
    border-radius: 16px;
    color: black;
    font-size: 22px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Inter Regular';
}

QLineEdit:focus {
    border: 1px solid rgb(60, 64, 188);
}

QLabel {
    color: black;
    font-size: 22px;
    font-family: 'Inter Regular';
}